
.character-list {
  display: flex;
  flex-flow: row initial;
  justify-self: center;
  z-index:0;
}

.character-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  height: 5rem;
  border: 1px solid black;
  transition: 1s;
  margin: 1rem;
  padding: 0.5rem;
  overflow: hidden;
  background-color: white;
}

.character-card:hover {
  height: 10rem;
  width: 15rem;
  overflow-y: scroll;
  z-index:999
}

.character-name {
  font-weight: bolder;
  font-size: 1.2rem;
}

.ability-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  padding: 1rem;
  width: 90%;
}

.ability-mod {
  font-size: 0.7rem;
}

.stat-input {
  width: 4rem;
}

.character-info > div{
  margin-top: .3rem;
}

input {
  text-align: center;
  font-size: 1rem;
  border: none;
  transition: 1s;
  border-bottom: 1px solid white;
}

input:hover {
  border-bottom: 1px solid rgb(170, 170, 170);
}

input:focus {
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
}

textarea {
  border: 1px solid white;
  transition: 1s;
}

textarea:hover {
  border: 1px solid rgb(170, 170, 170);
}

.action {
  border: 1px solid black;
  padding: 0.2rem;
  margin-top: 0.2rem;
}
