.app {

}

.character-list {
  display: flex;
}

.character-card {
  width: 6rem;
  height: 6rem;
  border: 1px solid black;
  transition: 1s;
  margin: 1rem;
}

.character-card:active {
  height: 14rem;
  width: 14rem;
}