.app {

}

.character-list {
  display: flex;
  flex-wrap: wrap;
}

.character-card {
  width: 8rem;
  height: 8rem;
  border: 1px solid black;
  transition: 1s;
  margin: 1rem;
  overflow: hidden;
}

.character-card:hover {
  height: 14rem;
  width: 14rem;
}

input {
  font-size: 1rem;
  border: none;
  -webkit-highlight-color: none;
}

label {
  display:inline;
}